<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Library.Properties.Settings.kutuphaneConnectionString"
            connectionString="Data Source=DESKTOP-QSULL7A\SQLEXPRESS;Initial Catalog=kutuphane;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Library.Properties.Settings.KutuphaneYonetimSistemiConnectionString"
            connectionString="Data Source=DESKTOP-QSULL7A\SQLEXPRESS;Initial Catalog=KutuphaneYonetimSistemi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Library.Properties.Settings.KutuphaneDBConnectionString"
            connectionString="Data Source=DESKTOP-QSULL7A\SQLEXPRESS;Initial Catalog=KutuphaneDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Library.Properties.Settings.KutuphaneYonetimConnectionString"
            connectionString="Data Source=DESKTOP-QSULL7A\SQLEXPRESS;Initial Catalog=KutuphaneYonetim;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>